@{
    ViewData["Title"] = "Home Page";
}


<h1 class="titulo">¿Cómo comprar?</h1>
<hr />
<div class="como-comprar">
    <h4>
        1º Paso:
    </h4>
    <ul>
        <li>Crear un usuario</li>
    </ul>
    <h4>
        2º Paso:
    </h4>
    <ul>
        <li>Buscá tu producto</li>
    </ul>
    <h4>
        3º Paso:
    </h4>
    <ul>
        <li>Apretá en comprar para continuar</li>
    </ul>
    <h4>
        4º Paso:
    </h4>
    <ul>
        <li>Completá los datos de tu tarjeta para confirmar la compra</li>
    </ul>

    <br />
    <h6>Si necesitas ayuda para realizar una compra online, podés escribirnos directamente por WhatsApp o redes sociales.</h6>

    <div class="row justify-content-center boton-margen">
        <a class="btn-lg btn-info " asp-area="" asp-controller="Articulo" asp-action="Index">Ver productos</a>
    </div>
</div>




