@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        ¿Cómo comprar?
    </h1>
    <div>
        <h6>
            1º Paso:
        </h6>
        <ul>
            <li>Crear un usuario</li>
        </ul>
        <h6>
            2º Paso:
        </h6>
        <ul>
            <li>Crear un usuario</li>
        </ul>
        <h6>
            3º Paso:
        </h6>
        <ul>
            <li>Crear un usuario</li>
        </ul>
    </div>
    <a asp-area="" asp-controller="Articulo" asp-action="Index">Ver productos</a>
</div>

