@{
    ViewData["Title"] = "Home Page";
}


<h1>¿Cómo comprar?</h1>
<hr />
<div>
    <h4>
        1º Paso:
    </h4>
    <ul>
        <li>Crear un usuario</li>
    </ul>
    <h4>
        2º Paso:
    </h4>
    <ul>
        <li>Busca tu producto</li>
    </ul>
    <h4>
        3º Paso:
    </h4>
    <ul>
        <li>Selecciona la cantidad</li>
    </ul>
    <h4>
        4º Paso:
    </h4>
    <ul>
        <li>Completa los datos para confirmar la compra</li>
    </ul>
    <h6>Si necesitas ayuda para realizar una compra online, podés escribirnos directamente por WhatsApp o redes sociales.</h6>
</div>
<a asp-area="" asp-controller="Articulo" asp-action="Index">Ver productos</a>


