@{
    ViewData["Title"] = "Home Page";
}

<h6>
    En <strong>Naturaleza Mística</strong> te ofrecemos la más amplia variedad de plantas, arboles, cactus, suculentas y macetas para que puedas llenar tu hogar de vida con esa planta que tanto te gusta.<br />
    También ofrecemos variedades de artículos y productos para que tus plantas crezcan y estén sanas.<br />
</h6>
<a asp-area="" asp-controller="Clientes" asp-action="Create">Crear Usuario</a>