@{
    ViewData["Title"] = "Home Page";
}


<h1>Nosotros</h1>
<hr />
<div>
    <h6>
        En <strong>Naturaleza Mística</strong> procuramos que puedas conseguir todos las plantas y artículos para darle más vida a tu hogar.
    </h6>
    <h6>
        Nos preocupamos por brindar siempre la mejor atención y asesoramiento para que puedas tener ese jardín y el interior que tanto deseas.
    </h6>
    <div>
        Esperamos que puedas conocernos,
        <u><i>atención personalizada para vos</i></u> en
        <u><i>nuestras redes</i></u> y tienda virtual.<br />
        <b>¡Naturaleza Mística, tu vivero online!</b>
    </div>
</div>
<a asp-area="" asp-controller="Home" asp-action="Contacto">Contactate con nosotros</a>
