@{
    ViewData["Title"] = "Home Page";
}


<div class="container row align-items-center text-center">
    <div class="flex-column">
        <h1 class="titulo"> Nosotros</h1>
        <h6 class="text-central">
            Naturaleza Mística nació para ser tu vivero online.
            Somos una tienda virtual de venta de plantas, insumos, productos y servicios. 
            También disponemos de un área de Servicios Corporativos, destinada a la atención de empresas.<br /><br />

            Naturaleza Mística está conformado por profesionales de diversas áreas para darle la mejor atención.<br /><br />

            La imagen, el estilo y la forma de trabajo profesionalizada aportan el toque distintivo y único.
            Poseemos bases sólidas a partir diversos acuerdos estratégicos con proveedores de productos y servicios, 
            soporte online, gran variedad de productos y servicios garantidos y ejecutados de la mejor manera.
        </h6>
        <div class="container-contacto">
            <a class="link-contacto" asp-area="" asp-controller="Home" asp-action="Contacto">Contactate con nosotros</a>
        </div>
    </div>
</div>
