@model Vivero_G4.Models.Venta

@{
    ViewData["Title"] = "Naturaleza Mística";
}

<h1 class="titulo">Concretá tu compra</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>
            Producto Elegido:
        </h4>
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Categoria
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img class="producto" src="~/images/@TempData.Peek("articuloVendidoImagen")" />
                    </td>
                    <td>
                        @TempData.Peek("articuloVendidoNombre")
                    </td>
                    <td>
                        $@TempData.Peek("articuloVendidoPrecio")
                    </td>
                    <td>
                        @TempData.Peek("articuloVendidoCategoria")
                    </td>
                </tr>                
            </tbody>
        </table>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NroTarjeta" class="control-label"></label>
                <input asp-for="NroTarjeta" class="form-control" />
                <span asp-validation-for="NroTarjeta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecVencimiento" class="control-label"></label>
                <input asp-for="FecVencimiento" class="form-control" />
                <span asp-validation-for="FecVencimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodSeguridad" class="control-label"></label>
                <input asp-for="CodSeguridad" class="form-control" />
                <span asp-validation-for="CodSeguridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEntrega" class="control-label"></label>
                <select asp-items="Html.GetEnumSelectList<TipoEntrega>()" asp-for="TipoEntrega" class="form-control"></select>
                <span asp-validation-for="TipoEntrega" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Realizar compra" class="btn btn-success" />
            </div>
            <div class="container">
                <p class="mensaje-venta">
                    @ViewBag.message
                </p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
