@model Vivero_G4.Models.Cliente

@{
    ViewData["Title"] = "IniciarSesion";
}

<h1 class="titulo">Iniciar Sesión</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IniciarSesion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioId" />
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label">Correo Electrónico</label>
                <input asp-for="CorreoElectronico" class="form-control" />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" type="password" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-info" />
                <div>
                    @ViewBag.message
                </div>
            </div>

            <hr /><br />
            <div class="form-group">
                <h6 class="text-central">¿Aún no tenés un usuario para comprar? <br /> Creá el tuyo! </h6>
            </div>
            
            <div class="form-group">
                <a class="btn btn-info" asp-area="" asp-controller="Clientes" asp-action="Create">Crear Usuario</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
